# Dependencies
node_modules/
.pnpm-store/

# Build outputs
/dist/
/build/
/out/
/apps/**/dist/
/apps/**/build/
/apps/**/out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage
coverage/

# Cache
.cache/
.turbo/

# Expo / React Native
.expo/
.expo-shared/
expo-env.d.ts
*.jks
*.keystore
*.pem
*.der
*.p12
*.mobileprovision

# Prisma
prisma/.env

# Misc
*.log
