[Unit]
Description=Jedoz Worker (%i)
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/var/www/jedoz/%i/app
EnvironmentFile=/var/www/jedoz/%i/app/apps/api/.env
ExecStart=/usr/bin/node /var/www/jedoz/%i/app/apps/api/src/worker.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
