[Unit]
Description=Jedolo Worker
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/var/www/jedolo/apps/api
EnvironmentFile=/etc/jedolo/api.env
ExecStart=/usr/bin/node src/worker.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
